    <header>
        <div class="header-content">
            <div>message-board</div>
            <div>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/new"><li>message</li></a>
            </ul>
            </div>
        </div>
    </header>