<%- include('Head') %>
<body>
    <%- include('Header') %>
    <div class="form-content">
        <form action="/new" method="post" >
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" placeholder="message">
            <button type="submit" style="justify-content: center;">submit</button>
        </form>
    </div>
</body>
</html>